:root {
  /* Colors */
  --black: rgb(25, 24, 26);
  --grey: rgb(138,138,138);
  --clay: rgb(177, 159, 158);
  --mauve: rgb(161, 110, 131);
  --lemon: rgb(206, 188, 129);
  --kiwi: rgb(71, 151, 97);
}